@model List<User>

    @{
        ViewData["Title"]="Table user";
    }

<form action="">
    <table class="table">
    <tr>
        <th>Id</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>PhoneNumber</th>
        <th>Email</th>
        <th>Login</th>
        <th>Password</th>
        <th>PasswordConfirm</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach(var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.FirstName</td>
             <td>@user.LastName</td>
            <td>@user.PhoneNumber</td>
            <td>@user.Email</td>
            <td>@user.Login</td>
            <td>@user.Password</td>
            <td>@user.PasswordConfirm</td>
            <td><a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Изминить</a></td>
            <td><a asp-controller="User" asp-action="Delete" asp-route-id="@user.Id">Удалить</a></td>
        </tr>
    }
    </table>

    <button class="btn btn-outline-danger"><a asp-controller="User" asp-action="CreateUser">Create User</a></button>
</form>
